version: '2'
services:
  tfkeras-ssh:
    image: cuda8/cudnn6:tfkeras-ssh
    container_name: tfkeras-ssh
    volumes:
    - /home/yousuke/project:/home/yousuke/project
    - /home/yousuke/.pycharm_helpers:/home/yousuke/.pycharm_helpers:rw
    - /usr/local/MATLAB/R2016a:/usr/local/MATLAB
    ports:
    - '2222:22'
    - '8888:8888'
    mac_address: d0:17:c2:9d:01:5d
